.Mobile{
  width: 100vw;
  height: 100vh;
  background: #5171ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div{
    margin: 0px 36px;
    height: 179px;
    width: calc(100% - 72px);
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > img{
      width: 70px;
      height: 13px;
      margin-top: 20px;
    }

    & > p{
      font-size: 9px;
      font-weight: 600;
      color: #303030;
      margin-top: 6px;
      margin-bottom: 0px;
    }

    & > div{
      font-size: 11px;
      font-weight: 600;
      color: #303030;
      text-align: center;   
      margin-top: 28px; 
    }

    & > button{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 114px;
      height: 19px;
      border-radius: 10px;
      background-color: #5171ff;
      font-size: 9px;
      font-weight: 600;
      color: #ffffff;
      margin-top: 35px;
      border: 1px solid #5171ff;
    }
  }
}