.Register1{
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 700px;
    border-radius: 20px;
    background-color:#ffffff;
    padding: 0px 50px;

    & > img{
        margin-top: 60px;
    }

    & > p{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    & > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & > div{
            display: flex;
            flex-direction: column;

            &:last-child{
                margin-left: 100px;
            }

            & > label{
                font-size: 18px;
                font-weight: 600;
                margin-top: 69px;
            }

            & > input[type=text]{
                width: 300px;
                padding: 15px 20px 14px 20px;
                border-radius: 10px;
                background-color: #e6e6e6;
                font-size: 18px;
                font-weight: 600;
                color: #303030;
                border: none;
                margin-top: 10px;
            }
        }
    }

    & > button{
        width: 300px;
        height: 50px;
        border-radius: 10px;
        background-color: #5171ff;
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
        margin-top: 70px;
    }
}

.Register2{
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 700px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0px 50px;

    & > img{
        margin-top: 60px;
    }

    & > p{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0px;
        margin-bottom: 35px;
    }

    & > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & > div{
            display: flex;
            flex-direction: column;

            &:last-child{
                margin-left: 100px;
            }

            & > label{
                font-size: 18px;
                font-weight: 600;
                margin-top: 25px;
            }

            & > input[type=text], input[type=password]{
                width: 380px;
                padding: 15px 20px 14px 20px;
                border-radius: 10px;
                background-color: #e6e6e6;
                font-size: 18px;
                font-weight: 600;
                color: #303030;
                border: none;
                margin-top: 10px;
            }

            & > div{
                & > div{
                    & > input[type=text]{
                        width: 230px;                      
                        padding: 15px 20px 14px 20px;
                        border-radius: 10px;
                        background-color: #e6e6e6;
                        font-size: 18px;
                        font-weight: 600;
                        color: #303030;
                        border: none;
                        margin-top: 10px;
                        margin-right: 10px;
                    }

                    & > button{
                        width: 140px;
                        height: 50px;
                        border-radius: 10px;
                        background-color: #5171ff;
                        font-size: 20px;
                        font-weight: 600;
                        color: #ffffff;
                    }
                }

                & > input[type=text]{
                    width: 380px;
                    padding: 15px 20px 14px 20px;
                    border-radius: 10px;
                    background-color: #e6e6e6;
                    font-size: 18px;
                    font-weight: 600;
                    color: #303030;
                    border: none;
                    margin-top: 56px;
                }
            }
        }
    }

    & > button{
        width: 300px;
        height: 50px;
        border-radius: 10px;
        background-color: #5171ff;
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
        margin-top: 70px;
    }
}