.Reservation{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 156px;

  & > h1{
    margin-top: 164px;
    color: #303030;
  }

  & > div{
    width: 100%;
    max-width: calc(100% - 444px);
    & > h2{
      display: flex;
      flex-direction: row;
      font-size: 30px;
      text-align: left;
      margin-top: 70px;
      margin-bottom: 10px;

      &:first-child{
        margin-top: 34px;
      }

      & > span{
        display: flex;
        flex-direction: row;
        font-size: 12px;
        font-weight: 500;
        color: #555555;
        margin-left: 10px;
        padding-top: 16px;

        & > .star{
          font-weight: normal;
          color: #ff8e6b;
        }
      }
    }

    & > hr{
      margin: 0px;
      &.start{
        width: calc(100% - 4px) !important;
        border: solid 2px #5171ff;
      }
      &.middle{
        width: calc(100% - 1px);
        border: solid .5px #979797;
      }
      &.end{
        width: calc(100% - 2px);
        border: solid 1px #5270ff;
      }
    }

    & > div{
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      padding: 19px 0px 20px 0px;

      & > div{
        display: flex;
        flex-direction: column;

        &.address{
          display: flex;
          flex-direction: column;

          & > input[type=text]{
            width: 260px;
            border-radius: 10px;
            background-color: #e6e6e6;
            border: 1px solid #e6e6e6;
            font-size: 16px;
            font-weight: 500;
            color: #303030;
            padding: 10px;
            margin-top: 12px;
    
            &.short{
              width: 130px;
            }

            &.long{
              width: 610px;
            }
          }

          & > div{
            display: flex;
            flex-direction: row;
            & > input[type=text]{
              width: 260px;
              border-radius: 10px;
              background-color: #e6e6e6;
              border: 1px solid #e6e6e6;
              font-size: 16px;
              font-weight: 500;
              color: #303030;
              padding: 10px;
      
              &.short{
                width: 130px;
              }
            }
  
            & > button{
              width: 120px;
              height: 40px;
              border-radius: 10px;
              background-color: #5270ff;
              text-align: center;
              font-size: 16px;
              font-weight: 600;
              color: #ffffff;
              margin-left: 10px;
            }
          }
        }

        & > div{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;

          &:nth-child(2){
            margin-top: 10px;
          }

          & > input[type=text]{
            width: 260px;
            border-radius: 10px;
            background-color: #e6e6e6;
            border: 1px solid #e6e6e6;
            font-size: 16px;
            font-weight: 500;
            color: #303030;
            padding: 10px;
          }

          & > p{
            font-size: 12px;
            font-weight: 500;
            color: #5270ff;
            margin-left: 10px;
          }

          & > input[type=checkbox] + label{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            background-color: #e6e6e6;
            border: none;
          }
    
          & > input[type=checkbox]:checked + label {
            background-color: #5171ff;
          }

          & > input[type=checkbox]{
            display: none;
          }

          & > .sameuser{
            font-size: 14px;
            font-weight: 600;
            color: #303030;
            margin-left: 10px;
          }
        }
      }

      & > label{
        display: flex;
        flex-direction: row;
        font-size: 24px;
        font-weight: 600;
        color: #303030;
        width: 194px;
        text-align: left;

        & > .star{
          margin-left: 4px;
          color: #ff8e6b;        
        }
      }

      & > input[type=text]{
        width: 260px;
        border-radius: 10px;
        background-color: #e6e6e6;
        border: 1px solid #e6e6e6;
        font-size: 16px;
        font-weight: 500;
        color: #303030;
        padding: 10px;

        &.short{
          width: 130px;
        }

        &.long{
          width: 610px;
        }
      }

      & > input[type=checkbox] + label{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background-color: #e6e6e6;
        border: none;
      }

      & > input[type=checkbox]:checked + label {
        background-color: #5171ff;
      }

      & > input[type=checkbox]{
        display: none;
      }

      & > select{
        width: 260px;
        border-radius: 10px;
        background-color: #e6e6e6;
        border: none;
        appearance: none !important;
        font-size: 16px;
        font-weight: 500;
        opacity: 0.7;
        color: #303030;
        padding: 10px;
      }

      & > p{
        font-size: 12px;
        font-weight: 500;
        color: #555555;
        margin: 0px;
        margin-left: 10px;
      }

      & > span{
        opacity: 0.65;
        font-size: 12px;
        color: #555555;
        margin-left: 10px;
        padding-bottom: 1px;
      }

      & > div{
        &.label{
          font-size: 18px;
          font-weight: 600;
          color: #303030;
          margin-left: 10px;
        }
        &.check{
          font-size: 18px;
          font-weight: 600;
          color: #303030;
          margin-left: 10px;
          margin-right: 78px;
        }
      }
    }

    & > p{
      width: 100%;
      text-align: left;
      font-size: 12px;
      font-weight: 500;
      color: #555555;
    }
  }
}